@page "/ForgotPasswordPage"
@inject NavigationManager NavManager;
@using MUCOBADI.Models;
@using System.Net;
@using System.Net.Mail;
<style>
    body {
        margin: 0px;
        padding: 0px;
        background: url(../image/bg.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -68px;
        height: 100%;
        background-color: #000 !important;
        /*font-family: 'Roboto', 'Roboto Condensed' !important;*/
        width: 100%;
        overflow-x: hidden !important;
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        /*width:40%;*/
    }

    h3 {
            color: ghostwhite;
            font-family: 'Roboto', 'Roboto Condensed' !important;
    }
    p {
        word-wrap: break-word;
    }
</style>


<div class="center-screen">
    <div style="width:35%;">
        <h3>Forgot Password</h3>
        <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
        <input type="email" placeholder="email address" @bind-value="@emailAddress" style="margin-bottom:10px; width:100%;height: 48px; padding:10px;" />
        @if (!string.IsNullOrEmpty(Returnmessage))
        {
            if (Returnmessage.ToLower().Contains("success"))
            {
                <p class="badge badge-success" style="width:100%; padding:15px; font-family:Cambria;font-size:large;">@Returnmessage</p>
            }
            else if (Returnmessage.ToLower().Contains("info"))
            {
                <p class="badge badge-info" style="width:100%; padding:15px; font-family:Cambria;font-size:large;">@Returnmessage.Replace("info:", "")</p>
            }
            else
            {
                <p class="badge badge-danger" style="width:100%; padding:15px; font-family:Cambria;font-size:large;">@Returnmessage</p>
            }
        }
        <button class="btn btn-primary btn-block" style="margin-bottom: 15px;" @onclick="ResetPasswordClick">Reset Password</button>
        <p class="text-center">already have an account? <a data-toggle="tab" href="#" @onclick="@BackToLoginClick">login here</a></p>
        <p class="text-center">new user? <a data-toggle="tab" href="#" @onclick="@RegisterUserClick">create new account</a></p>
    </div>
</div>

@code {
    string emailAddress { get; set; }
    string Returnmessage { get; set; }
    private void BackToLoginClick()
    {
        NavManager.NavigateTo("/", true);
    }
    private void RegisterUserClick()
    {
        NavManager.NavigateTo("ExternalRegistrationPage", true);
    }
    private void ResetPasswordClick()
    {
        //NavManager.NavigateTo("/", true);
        if (string.IsNullOrEmpty(emailAddress))
        {
            Returnmessage = "info: Please enter the email address of the account to reset";
        }
        else
        {
            try
            {
                string url = NavManager.BaseUri;
                using (var db = new MUCOBADIContext())
                {
                    var userexists = db.AspNetUsers.FirstOrDefault(o => o.Email == emailAddress);
                    if (userexists != null)
                    {
                        byte[] b = System.Text.ASCIIEncoding.ASCII.GetBytes(userexists.Id);
                        string encrypted = Convert.ToBase64String(b);
                        string _message = url + "ExternalResetPasswordPage/" + encrypted;

                        using (var message = new MailMessage("donotreply@ibs.co.ug", emailAddress))
                        {
                            message.Subject = "PAU Password Reset";
                            message.Body = "Dear "+ userexists.AccountHolderName+ ",<br/><br/>" +
                                    "<p> You recently requested a password reset with us.</p>" +
                                    "<br/> <p>Please click <a href='" + _message + "'>here</a> to be directed to a page to reset your password. Thanks!</p>" +
                                    "<br/> <br/> Regards,<br/><br/> System notfication, <br/> Petrolium Authority of Uganda.<br/><br/>" + DateTime.Now;
                            message.IsBodyHtml = true;
                            using (SmtpClient client = new SmtpClient
                            {
                                EnableSsl = false,
                                //Host = "smtp.gmail.com",
                                Host = "mail.ibs.co.ug",
                                Port = 587,
                                //Port = 25,
                                DeliveryMethod = SmtpDeliveryMethod.Network,
                                Credentials = new NetworkCredential("donotreply@ibs.co.ug", "**Root@85")
                            })
                            {
                                //client.EnableSsl = true;
                                client.Send(message);
                            }
                        }
                        Returnmessage = "Success: Reset instructions have been sent to your email.";
                    }
                    else
                    {
                        Returnmessage = "Error: The email address you input doesnot exist.";
                    }
                }
            }
            catch (Exception ex)
            {
                Returnmessage = "Error: something went wrong when processing your request, please try again later or contact the administrator.";
            }
        }
        StateHasChanged();
    }
}
