@page "/NmnquestionairePage"
@using MUCOBADI.Data
@using MUCOBADI.Interfaces
@using MUCOBADI.Models
@using MUCOBADI.Pages.NMN.PartialView
@using Microsoft.EntityFrameworkCore
@using System.Collections

@inject IToastService toastService;
@inject INmnService Repo;
@inject MUCOBADIContext db;
@inject UserManagement userManagement;

<style>
    h2 {
        background-color: #9b51e0;
        text-align: center;
        padding: 5px;
        margin-bottom: 5px;
        color: ghostwhite;
    }

    h3 {
        background-color: black;
        text-align: left;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        color: ghostwhite;
    }
</style>

<MudOverlay Visible="@IsLoading" DarkBackground="true" Absolute="true" Style="z-index:200000; height:100vh;">
    <MudProgressCircular Color="MudBlazor.Color.Secondary" Indeterminate="true" />
    <MudText Style="color:ghostwhite;">Loading data please wait..</MudText>
</MudOverlay>
<div class="row">
    <div class="col-md-12">
        <BreadCrumbPage CategoryName="NMN" PageName="No Means No Boys & Young Men (10-hour) Pre / Post Questionnaire" />
    </div>
    @if(IsLoading == false)
    {

        <div class="col-md-12">
            <SfAccordion ExpandMode="ExpandMode.Single">
                <AccordionItems>
                    <AccordionItem Header="Search Model">
                        <ContentTemplate>
                            <div class="row" n style="margin:5px;">
                                <SearchPanelPartialPage @ref=@SearchPanel DistrictData="@DistrictData" SubcountyData="@SubcountyData" Credentials=@Credentials />
                                <div class="col-md-4">
                                    <button type="button" style="margin-top:32px;" class="btn btn-primary" @onclick="@(()=>{MainQuery = SearchPanel.SearchRecords();})">Search</button>
                                    <button type="button" style="margin-top:32px;" class="btn btn-secondary" @onclick="@(() => {MainQuery =SearchPanel.ClearSearchBtnClick();})">Clear Search</button>
                                </div>
                            </div>
                        </ContentTemplate>
                    </AccordionItem>
                </AccordionItems>
            </SfAccordion>
        </div>
        <div class="col-md-12">
            <SfGrid @ref="HeaderGrid" TValue="Nmnquestionaire" Query="@MainQuery"
                    AllowGrouping="false" ShowColumnChooser="true" AllowTextWrap="true"
                    AllowPaging="true" AllowFiltering="true" GridLines="GridLine.Both" AllowSelection="true"
                    Toolbar="@(new string[] {"Add","Edit","Delete","Update","Cancel","ColumnChooser"})">
                @*<GridGroupSettings Columns="@GroupedColumns"></GridGroupSettings>*@
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                <GridPageSettings PageSize="20"></GridPageSettings>
                <SfDataManager AdaptorInstance="@typeof(NmnquestionaireAdapter)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
                <GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                <GridSearchSettings IgnoreCase="true"></GridSearchSettings>
                <GridEvents OnActionBegin="OnActionBegin" OnActionComplete="OnActionComplete" TValue="Nmnquestionaire"></GridEvents>
                <GridEditSettings AllowAdding="true" AllowDeleting="false" AllowEditing="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                    <Template Context="ReviewHeaderContext">
                        @{
                            ReviewData = (ReviewHeaderContext as Nmnquestionaire);
                            if (ReviewData != null)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>
                                            No Means No World Wide Ending Sexual Violence.
                                        </h2>
                                    </div>
                                    <div class="col-md-12">
                                        <h3>No Means No Boys & Young Men (10-hour) Pre / Post Questionnaire</h3>
                                    </div>
                                    <div class="col-md-4">
                                        <label> Implementing Partner </label>
                                        <SfDropDownList @bind-Value="@(ReviewData.ImplementingPartnerId)" Enabled="true" ShowClearButton=true TItem="AImplementingPartner" TValue="int?" DataSource="@ImplementingPartnerData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never">
                                            <DropDownListFieldSettings Value="@nameof(AImplementingPartner.ImplementingPartnerId)" Text="@nameof(AImplementingPartner.ImplementingPartnerName)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Date (DD/MM/YYYY)</label>
                                        <SfDatePicker @bind-Value="@(ReviewData.QuestionairDate)" Format="dd/MM/yyyy" Placeholder="Enter Date" FloatLabelType="FloatLabelType.Never" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>District</label>
                                        <SfDropDownList @bind-Value="@(ReviewData.DistrictId)" Enabled="true" TItem="ADistrict" ShowClearButton=true TValue="int?" DataSource="@DistrictData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never">
                                            <DropDownListFieldSettings Value="@nameof(ADistrict.DistrictId)" Text="@nameof(ADistrict.DistrictDescription)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Subcounty</label>
                                        <SfDropDownList @bind-Value="@(ReviewData.SubcountyId)" Enabled="true" TItem="ASubcounty" ShowClearButton=true
                                                        TValue="int?" DataSource="@SubcountyData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never"
                                                        Query="@(new Query().Where(new WhereFilter() { Field = "DistrictId", Operator = "equal", value = ReviewData.DistrictId, IgnoreCase = false, IgnoreAccent = false }))">
                                            <DropDownListFieldSettings Value="@nameof(ASubcounty.SubcountyId)" Text="@nameof(ASubcounty.SubcountyDescription)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Parish</label>
                                        <SfDropDownList @bind-Value="@(ReviewData.ParishId)" Enabled="true" TItem="AParish" ShowClearButton=true
                                                        TValue="int?" DataSource="@ParishData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never"
                                                        Query="@(new Query().Where(new WhereFilter() { Field = "SubcountyId", Operator = "equal", value = ReviewData.SubcountyId, IgnoreCase = false, IgnoreAccent = false }))">
                                            <DropDownListFieldSettings Value="@nameof(AParish.ParishId)" Text="@nameof(AParish.ParishDescription)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Village</label>
                                        <SfDropDownList @bind-Value="@(ReviewData.VillageId)" Enabled="true" TItem="AVillage" ShowClearButton=true
                                                        TValue="int?" DataSource="@VillageData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never"
                                                        Query="@(new Query().Where(new WhereFilter() { Field = "ParishId", Operator = "equal", value = ReviewData.ParishId, IgnoreCase = false, IgnoreAccent = false }))">
                                            <DropDownListFieldSettings Value="@nameof(AVillage.VillageId)" Text="@nameof(AVillage.VillageDescription)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Group Name</label>
                                        <SfTextBox Multiline="false" @bind-Value="@(ReviewData.GroupName)" Enabled="true" Placeholder="Enter type here..." FloatLabelType="FloatLabelType.Never"></SfTextBox>
                                    </div>
                                    <div class="col-md-4">
                                        <label> Sampled for Pre/post </label>
                                        <SfDropDownList @bind-Value="@(ReviewData.SampledForId)" Enabled="true" ShowClearButton=true TItem="ANmnSampledFor" TValue="int?" DataSource="@NmnSampledForData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never">
                                            <DropDownListFieldSettings Value="@nameof(ANmnSampledFor.SampledForId)" Text="@nameof(ANmnSampledFor.SampledForDesc)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label> Delivery Method</label>
                                        <SfDropDownList @bind-Value="@(ReviewData.DeliveryMethodId)" Enabled="true" ShowClearButton=true TItem="ADeliveryMethod" TValue="int?" DataSource="@DeliveryMethodData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never">
                                            <DropDownListFieldSettings Value="@nameof(ADeliveryMethod.DeliveryMethodId)" Text="@nameof(ADeliveryMethod.DeliveryMethodDesc)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label> Implementation Method </label>
                                        <SfDropDownList @bind-Value="@(ReviewData.ImplementationMethodId)" Enabled="true" ShowClearButton=true TItem="AImplementationMethod" TValue="int?" DataSource="@ImplementationMethodData" Placeholder="Please select" FloatLabelType="FloatLabelType.Never">
                                            <DropDownListFieldSettings Value="@nameof(AImplementationMethod.ImplementationMethodId)" Text="@nameof(AImplementationMethod.ImplementationMethodDesc)"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Instructor Names:</label>
                                        <SfTextBox Multiline="false" @bind-Value="@(ReviewData.InstructorNames)" Enabled="true" Placeholder="Enter type here..." FloatLabelType="FloatLabelType.Never"></SfTextBox>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Age</label>
                                        <SfNumericTextBox @bind-Value="@ReviewData.InstructorAge" Enabled="true" Placeholder="Enter the here" FloatLabelType="FloatLabelType.Never"></SfNumericTextBox>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Serial Number</label>
                                        <SfTextBox Multiline="false" @bind-Value="@(ReviewData.SerialNo)" Enabled="true" Placeholder="Enter type here..." FloatLabelType="FloatLabelType.Never"></SfTextBox>
                                    </div>
                                    <div class="col-md-12">
                                        <h3>Section 1: Agree or Disagree</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <NmnquestionaireSectionOnePage @ref=@FormInstructorPage Nmnid="@(ReviewData.Nmnid)" NmnquestionaireSectionOneData="@(ReviewData.NmnquestionaireSectionOne.ToList())"
                                                                       DetailToggle="@ReturnNmnquestionaireSectionOne" AgreeDisagreeData="@AgreeDisagreeData" NmnSectionOneQuestionData="@NmnSectionOneQuestionData" />
                                    </div>
                                    <div class="col-md-12">
                                        <h3>Section 2: Multiple Choice</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <NmnquestionaireSectionTwoPage @ref=@FormDetailPage Nmnid="@(ReviewData.Nmnid)" NmnquestionaireSectionTwoData="@(ReviewData.NmnquestionaireSectionTwo.ToList())"
                                                                       DetailToggle="@ReturnNmnquestionaireSectionTwo" NmnSectionTwoQuestionData="@NmnSectionTwoQuestionData" NmnSectionTwoAnswerData="@NmnSectionTwoAnswerData" />
                                    </div>
                                </div>
                            }
                        }
                    </Template>
                    <FooterTemplate>
                        <button class="btn btn-primary btn-sm" @onclick="@SaveForm">Save Form</button>
                        <button class="btn btn-danger btn-sm" @onclick="@(async ()=>{ if(HeaderGrid != null){ await HeaderGrid.CloseEditAsync();}})">Cancel Form</button>
                    </FooterTemplate>
                </GridEditSettings>
                <GridColumns>
                    <GridColumn HeaderText="Manage Records" Width="80">
                        <GridCommandColumns>
                            <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { CssClass="e-icons e-view-details",Content="View" })" Title="View"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                    <GridColumn Field="@(nameof(Nmnquestionaire.Nmnid))" HeaderText="Id" Visible=false Width="120" IsPrimaryKey=true IsIdentity=true></GridColumn>
                    <GridForeignColumn Field="@(nameof(Nmnquestionaire.DistrictId))" HeaderText="District" Width="160" ForeignKeyField="@(nameof(ADistrict.DistrictId))" ForeignKeyValue="@(nameof(ADistrict.DistrictDescription))" ForeignDataSource="@DistrictData"></GridForeignColumn>
                    <GridForeignColumn Field="@(nameof(Nmnquestionaire.SubcountyId))" HeaderText="Sub-county" Width="160" ForeignKeyField="@(nameof(ASubcounty.SubcountyId))" ForeignKeyValue="@(nameof(ASubcounty.SubcountyDescription))" ForeignDataSource="@SubcountyData"></GridForeignColumn>
                    <GridForeignColumn Field="@(nameof(Nmnquestionaire.ImplementingPartnerId))" HeaderText="Implementing Partner" Width="160" ForeignKeyField="@(nameof(AImplementingPartner.ImplementingPartnerId))" ForeignKeyValue="@(nameof(AImplementingPartner.ImplementingPartnerName))" ForeignDataSource="@ImplementingPartnerData"></GridForeignColumn>
                    <GridForeignColumn Field="@(nameof(Nmnquestionaire.ImplementationMethodId))" HeaderText="Implementation Method" Width="160" ForeignKeyField="@(nameof(AImplementationMethod.ImplementationMethodId))" ForeignKeyValue="@(nameof(AImplementationMethod.ImplementationMethodDesc))" ForeignDataSource="@ImplementationMethodData"></GridForeignColumn>
                    <GridForeignColumn Field="@(nameof(Nmnquestionaire.SampledForId))" HeaderText="Sampled For" Width="160" ForeignKeyField="@(nameof(ANmnSampledFor.SampledForId))" ForeignKeyValue="@(nameof(ANmnSampledFor.SampledForDesc))" ForeignDataSource="@NmnSampledForData"></GridForeignColumn>
                    <GridForeignColumn Field="@(nameof(Nmnquestionaire.DeliveryMethodId))" HeaderText="Delivery Method" Width="160" ForeignKeyField="@(nameof(ADeliveryMethod.DeliveryMethodId))" ForeignKeyValue="@(nameof(ADeliveryMethod.DeliveryMethodDesc))" ForeignDataSource="@DeliveryMethodData"></GridForeignColumn>
                    <GridColumn Field="@(nameof(Nmnquestionaire.GroupName))" HeaderText="Group Name" AllowEditing=false Visible=true Width="120"></GridColumn>
                    <GridColumn Field="@(nameof(Nmnquestionaire.InstructorNames))" HeaderText="Venue" AllowEditing=false Visible=true Width="120"></GridColumn>
                    <GridColumn Field="@(nameof(Nmnquestionaire.QuestionairDate))" HeaderText="Date" Format="dd/MM/yyyy" AllowEditing=false Visible=true Width="120"></GridColumn>
                    <GridColumn Field="@(nameof(Nmnquestionaire.SerialNo))" HeaderText="Serial No" AllowEditing=false Visible=true Width="120"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    }
</div>

@code {
    Query? MainQuery { get; set; }
    string[]? toolbar { get; set; }
    SearchPanelPartialPage? SearchPanel;

    Nmnquestionaire? ReviewData { get; set; }

    SfGrid<Nmnquestionaire>? HeaderGrid;
    NmnquestionaireSectionOnePage? FormInstructorPage { get; set; }
    NmnquestionaireSectionTwoPage? FormDetailPage { get; set; }

    List<ASubcounty>? SubcountyData { get; set; }
    List<ADistrict>? DistrictData { get; set; }
    List<AParish>? ParishData { get; set; }
    List<AVillage>? VillageData { get; set; }
    List<AImplementingPartner>? ImplementingPartnerData { get; set; }
    List<AImplementationMethod>? ImplementationMethodData { get; set; }
    List<ANmnSampledFor>? NmnSampledForData { get; set; }
    List<ADeliveryMethod>? DeliveryMethodData { get; set; }
    List<AInterventionAttendance>? InterventionAttendanceData { get; set; }
    List<AYesNo>? YesNoData { get; set; }
    List<ANmnSectionOneQuestion>? NmnSectionOneQuestionData { get; set; }
    List<ANmnSectionTwoQuestion>? NmnSectionTwoQuestionData { get; set; }
    List<AAgreeDisagree>? AgreeDisagreeData { get; set; }
    List<ANmnSectionTwoAnswer>? NmnSectionTwoAnswerData { get; set; }
    bool IsLoading { get; set; }
    private ViewUserManagement? Credentials { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Height = "auto", MinHeight = "90vh", Width = "98%" };

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await base.OnInitializedAsync();
        try
        {
            var data = await Repo.GetPrimaryData();
            if (data != null)
            {
                SubcountyData = data.SubcountyData;
                DistrictData = data.DistrictData;
                ParishData = data.ParishData;
                VillageData = data.VillageData;
                ImplementingPartnerData = data.ImplementingPartnerData;
                ImplementationMethodData = data.ImplementationMethodData;
                NmnSampledForData = data.NmnSampledForData;
                DeliveryMethodData = data.DeliveryMethodData;
                InterventionAttendanceData = data.InterventionAttendanceData;
                YesNoData = data.YesNoData;
                NmnSectionTwoQuestionData = data.NmnSectionTwoQuestionData;
                NmnSectionOneQuestionData = data.NmnSectionOneQuestionData;
                AgreeDisagreeData = data.AgreeDisagreeData;
                NmnSectionTwoAnswerData = data.NmnSectionTwoAnswerData;
            }

            var username = userManagement.GetUserName();
            Credentials = await db.ViewUserManagement.FirstOrDefaultAsync(o => o.UserName == username);
        }
        catch (Exception ex)
        {
            toastService.ClearAll();
            toastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }
    private async Task SaveForm()
    {
        try
        {
            if (FormInstructorPage != null && FormInstructorPage.HeaderGrid != null)
            {
                await FormInstructorPage.HeaderGrid.EndEditAsync();
            }
            if (FormDetailPage != null && FormDetailPage.HeaderGrid != null)
            {
                await FormDetailPage.HeaderGrid.EndEditAsync();
            }

            if (HeaderGrid != null)
            {
                await HeaderGrid.EndEditAsync();
            }
        }
        catch (Exception ex)
        {
            toastService.ClearAll();
            toastService.ShowError(ex.Message);
        }
    }

    private void ReturnNmnquestionaireSectionOne(List<NmnquestionaireSectionOne>? data)
    {
        if (data != null && ReviewData != null)
        {
            if (ReviewData.NmnquestionaireSectionOne != null)
            {
                ReviewData.NmnquestionaireSectionOne = new List<NmnquestionaireSectionOne>();
            }

            ReviewData.NmnquestionaireSectionOne = data;
        }
    }

    private void ReturnNmnquestionaireSectionTwo(List<NmnquestionaireSectionTwo>? data)
    {
        if (data != null && ReviewData != null)
        {
            if (ReviewData.NmnquestionaireSectionTwo != null)
            {
                ReviewData.NmnquestionaireSectionTwo = new List<NmnquestionaireSectionTwo>();
            }

            ReviewData.NmnquestionaireSectionTwo = data;
        }
    }

    public void OnActionBegin(ActionEventArgs<Nmnquestionaire> args)
    {
        try
        {
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
            {

            }
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
            {

            }
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Cancel)
            {

            }
            if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                // if (args.Data.HhtotalScore == null)
                // {
                //     toastService.ShowError("Please answer all questions");
                //     args.Cancel = true;
                // }
                // else if (args.Data.HouseHoldMemberId == 0)
                // {
                //     toastService.ShowWarning("Please select the House hold member who was assessed");
                //     args.Cancel = true;
                // }
                // else if (string.IsNullOrEmpty(args.Data.Cdoname))
                // {
                //     toastService.ShowError("Please enter the name of the Sub-County Community Development Officer(CDO)");
                //     args.Cancel = true;
                // }
                // else if (string.IsNullOrEmpty(args.Data.Cdocontact))
                // {
                //     toastService.ShowError("Please enter the Contact of the Sub-County Community Development Officer(CDO)");
                //     args.Cancel = true;
                // }
                // else if (args.Data.AdministrationPhaseId == null)
                // {
                //     toastService.ShowError("Please select the Phase of Administration");
                //     args.Cancel = true;
                // }
                // else if (args.Data.AssessmentDate == null)
                // {
                //     toastService.ShowError("Please select the Assessment Date");
                //     args.Cancel = true;
                // }
                // else if (args.Data.MaritalStatusId == null)
                // {
                //     toastService.ShowError("Please select the Marital status of the household head");
                //     args.Cancel = true;
                // }
                // else if (string.IsNullOrEmpty(args.Data.AssessorName))
                // {
                //     toastService.ShowError("Please enter the Name of the Assessor");
                //     args.Cancel = true;
                // }
                // else if (string.IsNullOrEmpty(args.Data.AssessorContact))
                // {
                //     toastService.ShowError("Please enter the Contact of the Assessor");
                //     args.Cancel = true;
                // }
                // else if (string.IsNullOrEmpty(args.Data.AssessorTitle))
                // {
                //     toastService.ShowError("Please enter the Title of the Assessor");
                //     args.Cancel = true;
                // }
                // else
                // {

                // }

            }
        }
        catch (Exception ex)
        {
            toastService.ClearAll();
            toastService.ShowError(ex.Message.ToString());
        }
        finally { StateHasChanged(); }
    }
    public void OnActionComplete(ActionEventArgs<Nmnquestionaire> args)
    {
        try
        {
            if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Add) || args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.BeginEdit))
            {
                if (HeaderGrid != null)
                {
                    HeaderGrid.PreventRender(false);
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ClearAll();
            toastService.ShowError(ex.Message.ToString());
        }
    }
    public class NmnquestionaireAdapter : DataAdaptor
    {
        public IToastService toastService;
        INmnService Repo;
        public NmnquestionaireAdapter(IToastService ts, INmnService Repo)
        {
            toastService = ts;
            this.Repo = Repo;
        }
        public override async Task<Object> ReadAsync(DataManagerRequest dataManagerRequest, string key = null)
        {
            var data = new List<Nmnquestionaire>();
            try
            {
                string? DistrictId = null; string? SubcountyId = null;
                int? SampledForId = null; int? DeliveryMethodId = null; int? ImplementationMethodId = null; string? Startdate = null; string? Enddate = null;

                if (dataManagerRequest.Params != null && dataManagerRequest.Params.Count > 0)
                {
                    var val = dataManagerRequest.Params;
                    if (val.FirstOrDefault(o => o.Key == "DistrictId").Value != null)
                    {
                        DistrictId = val.FirstOrDefault(o => o.Key == "DistrictId").Value.ToString();
                    }
                    if (val.FirstOrDefault(o => o.Key == "SubcountyId").Value != null)
                    {
                        SubcountyId = val.FirstOrDefault(o => o.Key == "SubcountyId").Value.ToString();
                    }
                    if (val.FirstOrDefault(o => o.Key == "ImplementationMethodId").Value != null)
                    {
                        ImplementationMethodId = Convert.ToInt32(val.FirstOrDefault(o => o.Key == "ImplementationMethodId").Value.ToString());
                    }
                    if (val.FirstOrDefault(o => o.Key == "SampledForId").Value != null)
                    {
                        SampledForId = Convert.ToInt32(val.FirstOrDefault(o => o.Key == "SampledForId").Value.ToString());
                    }
                    if (val.FirstOrDefault(o => o.Key == "DeliveryMethodId").Value != null)
                    {
                        DeliveryMethodId = Convert.ToInt32(val.FirstOrDefault(o => o.Key == "DeliveryMethodId").Value.ToString());
                    }
                    if (val.FirstOrDefault(o => o.Key == "Startdate").Value != null)
                    {
                        Startdate = val.FirstOrDefault(o => o.Key == "Startdate").Value.ToString();
                    }
                    if (val.FirstOrDefault(o => o.Key == "Enddate").Value != null)
                    {
                        Enddate = val.FirstOrDefault(o => o.Key == "Enddate").Value.ToString();
                    }
                }
                if (!string.IsNullOrEmpty(DistrictId) || !string.IsNullOrEmpty(SubcountyId))
                {
                    data = await Repo.GetNmnquestionaire(DistrictId, SubcountyId, SampledForId, DeliveryMethodId, ImplementationMethodId, Startdate, Enddate);
                }

            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            IEnumerable GridData = data;
            int _count = data.Count;
            if (dataManagerRequest.Search != null && dataManagerRequest.Search.Count > 0)
            {
                // Searching
                GridData = DataOperations.PerformSearching(GridData, dataManagerRequest.Search);
            }
            if (dataManagerRequest.Where != null && dataManagerRequest.Where.Count > 0)
            {
                // Filtering
                GridData = DataOperations.PerformFiltering(GridData, dataManagerRequest.Where, dataManagerRequest.Where[0].Operator);
            }
            if (dataManagerRequest.Sorted?.Count > 0) // perform Sorting
            {
                GridData = DataOperations.PerformSorting(GridData, dataManagerRequest.Sorted);
            }
            if (dataManagerRequest.Skip != 0)
            {
                GridData = DataOperations.PerformSkip(GridData, dataManagerRequest.Skip); //Paging
            }
            if (dataManagerRequest.Take != 0)
            {
                GridData = DataOperations.PerformTake(GridData, dataManagerRequest.Take);
            }
            IDictionary<string, object> aggregates = new Dictionary<string, object>();
            if (dataManagerRequest.Aggregates != null) // Aggregation
            {
                aggregates = DataUtil.PerformAggregation(GridData, dataManagerRequest.Aggregates);
            }
            if (dataManagerRequest.Group != null && dataManagerRequest.Group.Any()) //Grouping
            {
                foreach (var group in dataManagerRequest.Group)
                {
                    GridData = DataUtil.Group<Nmnquestionaire>(GridData, group, dataManagerRequest.Aggregates, 0, dataManagerRequest.GroupByFormatter);
                }
            }
            return dataManagerRequest.RequiresCounts ? new DataResult() { Result = GridData, Count = _count, Aggregates = aggregates } : (object)GridData;
        }
        public override async Task<Object> InsertAsync(DataManager dataManager, object value, string key)
        {
            try
            {
                var val = (value as Nmnquestionaire);
                await Repo.SaveNmnquestionaire(val);
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }
            return value;
        }
        public override object Remove(DataManager dataManager, object value, string keyField, string key)
        {
            try
            {
                int data = (int)value;

            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }


            return value;
        }
        public override async Task<object> UpdateAsync(DataManager dataManager, object value, string keyField, string key)
        {
            try
            {
                var val = (value as Nmnquestionaire);
                await Repo.SaveNmnquestionaire(val);
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            return value;
        }
    }
}

