@using MUCOBADI.Models;
@using System.Collections;
@using Microsoft.EntityFrameworkCore;
@using Syncfusion.Blazor.Data;
@using System.IO;
@using Syncfusion.DocIO.DLS;
@using Syncfusion.DocIORenderer;
@using Syncfusion.Pdf;
@inject MUCOBADIContext _context;
@inject NavigationManager Navigation;
@using MUCOBADI.Data;
@inject UserManagement userManagement;
@using Microsoft.AspNetCore.Hosting;
@inject IWebHostEnvironment hostingEnv;

<style>
    /*Increase font size for Multi Line Text Box Place Holder*/
    .e-multi-line-input label.e-float-text {
        font-size: 17px !important;
    }
</style>

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;"> <strong>HouseHold Income</strong></li>
</ol>

<div class="row">
    <div class="col-lg-12 control-section">
        <SfToast @ref="ToastObj" ID="toast_type">
            <ToastPosition X="@ToastPosition"></ToastPosition>
        </SfToast>
    </div>
</div>

<SfGrid @ref="HHIncomeGrid" TValue="AHhincome"
        Toolbar="@(new string[] {"Add","Edit","Delete","Update","Cancel","ColumnChooser"})" AllowGrouping="true" ShowColumnChooser="true" AllowTextWrap="true"
        AllowPaging="true" AllowFiltering="true" GridLines="GridLine.Both" AllowSelection="true">
    <SfDataManager AdaptorInstance="@typeof(IncomeAdapter)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
    <GridSearchSettings IgnoreCase="true"></GridSearchSettings>
    <GridEvents OnActionBegin="OnIncomeActionBegin" TValue="AHhincome"></GridEvents>
    <GridEditSettings AllowAdding="true" AllowDeleting="false" AllowEditing="true" Mode="@EditMode.Dialog">
        <HeaderTemplate>
            @{
                var text = GetIncomeHeader((context as AHhincome));
                <div class="headerbandimg" /><span>@text</span>
            }
        </HeaderTemplate>
        <Template Context="AssetsContext">
            @{
                var IncomeData = (AssetsContext as AHhincome);
                <div style="padding:15px;">
                    <div class="form-row">
                        <div class="form-group col-md-12" hidden>
                            <SfNumericTextBox ID="HouseHoldIncomeId" @bind-Value="@(IncomeData.HouseHoldIncomeId)" Enabled="false" Placeholder="HouseHold Income Id" Format="N0" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                        </div>
                        <div class="form-group col-md-12">
                            <SfTextBox Multiline="true" ID="HouseHoldIncomeDescription" @bind-Value="@(IncomeData.HouseHoldIncomeDescription)" Placeholder="HouseHold Income Description" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                        </div>
                        <div class="form-group col-md-12">
                            <SfNumericTextBox ID="HouseHoldIncomeScore" @bind-Value="@(IncomeData.HouseHoldIncomeScore)" Enabled="true" Placeholder="HouseHold Income Score" Format="N0" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                        </div>
                    </div>
                </div>
            }
        </Template>
    </GridEditSettings>
    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
    <GridPageSettings PageSize="20"></GridPageSettings>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
        <GridColumn Field=@nameof(AHhincome.HouseHoldIncomeId) HeaderText="HouseHold Income Id" TextAlign="TextAlign.Left" IsPrimaryKey="true" IsIdentity="true" Visible="false" Width="100"></GridColumn>
        <GridColumn Field=@nameof(AHhincome.HouseHoldIncomeDescription) HeaderText="HouseHold Income Description"></GridColumn>
        <GridColumn Field=@nameof(AHhincome.HouseHoldIncomeScore) HeaderText="HouseHold Income Score"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    #region Toasters
    public static string ToastContent { get; set; }
    SfToast ToastObj;
    SfToast DeleteToastObj;
    private string ToastPosition = "Right";
    private int AlarmTimeout { get; set; } = 120000;
    private List<ToastModel> Toast = new List<ToastModel>
{
        new ToastModel{ Title = "Warning!", Content=ToastContent, CssClass="e-toast-warning", Icon="e-warning toast-icons" },
        new ToastModel{ Title = "Success!", Content=ToastContent, CssClass="e-toast-success", Icon="e-success toast-icons" },
        new ToastModel{ Title = "Error!", Content=ToastContent, CssClass="e-toast-danger", Icon="e-error toast-icons" },
        new ToastModel{ Title = "Information!", Content=ToastContent, CssClass="e-toast-info", Icon="e-info toast-icons" }
    };
    #endregion Toasters

    private SfGrid<AHhincome> HHIncomeGrid;
    public string ButtonText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!userManagement.IsSignedIn())
            {
                Navigation.NavigateTo("/", true);
            }

        }
        catch (Exception ex)
        {
            await ToastObj.ShowAsync(new ToastModel { Title = "Error!", Content = ex.Message.ToString(), CssClass = "e-toast-danger", Icon = "e-error toast-icons" });
        }
    }

    #region HouseHold Income
    public class IncomeAdapter : DataAdaptor
    {
        public IToastService toastService;
        private UserManagement _userManagement;
        public IncomeAdapter(IToastService ts, UserManagement userManagement)
        {
            _userManagement = userManagement;
            toastService = ts;
        }
        public override async Task<Object> ReadAsync(DataManagerRequest dataManagerRequest, string key = null)
        {
            var data = new List<AHhincome>();
            try
            {
                using (var dbContext = new MUCOBADIContext())
                {
                    data = await dbContext.AHhincome.OrderByDescending(o => o.HouseHoldIncomeId).ToListAsync();
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            IEnumerable GridData = data;
            int _count = data.Count;
            if (dataManagerRequest.Search != null && dataManagerRequest.Search.Count > 0)
            {
                // Searching
                GridData = DataOperations.PerformSearching(GridData, dataManagerRequest.Search);
            }
            if (dataManagerRequest.Where != null && dataManagerRequest.Where.Count > 0)
            {
                // Filtering
                GridData = DataOperations.PerformFiltering(GridData, dataManagerRequest.Where, dataManagerRequest.Where[0].Operator);
            }
            if (dataManagerRequest.Sorted?.Count > 0) // perform Sorting
            {
                GridData = DataOperations.PerformSorting(GridData, dataManagerRequest.Sorted);
            }
            if (dataManagerRequest.Skip != 0)
            {
                GridData = DataOperations.PerformSkip(GridData, dataManagerRequest.Skip); //Paging
            }
            if (dataManagerRequest.Take != 0)
            {
                GridData = DataOperations.PerformTake(GridData, dataManagerRequest.Take);
            }
            IDictionary<string, object> aggregates = new Dictionary<string, object>();
            if (dataManagerRequest.Aggregates != null) // Aggregation
            {
                aggregates = DataUtil.PerformAggregation(GridData, dataManagerRequest.Aggregates);
            }
            if (dataManagerRequest.Group != null && dataManagerRequest.Group.Any()) //Grouping
            {
                foreach (var group in dataManagerRequest.Group)
                {
                    GridData = DataUtil.Group<AHhincome>(GridData, group, dataManagerRequest.Aggregates, 0, dataManagerRequest.GroupByFormatter);
                }
            }
            return dataManagerRequest.RequiresCounts ? new DataResult() { Result = GridData, Count = _count, Aggregates = aggregates } : (object)GridData;
        }

        public override Object Insert(DataManager dataManager, object value, string key)
        {
            try
            {
                using (var dbContext = new MUCOBADIContext())
                {
                    var val = (value as AHhincome);
                    var exists = dbContext.AHhincome.FirstOrDefault(o => o.HouseHoldIncomeId == val.HouseHoldIncomeId);
                    if (exists == null)
                    {
                        int id = 1;
                        var last = dbContext.AHhincome.OrderBy(o => o.HouseHoldIncomeId).LastOrDefault();
                        if (last != null)
                        {
                            id = (last.HouseHoldIncomeId + 1);
                        }
                        val.HouseHoldIncomeId = id;

                        dbContext.AHhincome.Add(val);
                        dbContext.SaveChanges();
                        toastService.ShowSuccess("Record saved successfully.");
                    }
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }
            return value;
        }

        public override async Task<object> RemoveAsync(DataManager dataManager, object value, string keyField, string key)
        {
            try
            {
                int data = (int)value;
                using (var dbContext = new MUCOBADIContext())
                {
                    var exists = dbContext.AHhincome.FirstOrDefault(o => o.HouseHoldIncomeId == data);
                    if (exists != null)
                    {
                        dbContext.AHhincome.Remove(exists);
                    }
                    await dbContext.SaveChangesAsync();
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }
            return value;
        }

        public override async Task<object> UpdateAsync(DataManager dataManager, object value, string keyField, string key)
        {
            try
            {
                using (var db = new MUCOBADIContext())
                {
                    var val = (value as AHhincome);
                    var exist = db.AHhincome.FirstOrDefault(o => o.HouseHoldIncomeId == val.HouseHoldIncomeId);
                    if (exist != null)
                    {
                        db.Entry(exist).CurrentValues.SetValues(val);
                        db.Entry(exist).State = EntityState.Modified;
                        await db.SaveChangesAsync();
                        toastService.ShowSuccess("Record updated successfully.");
                    }
                }
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message.ToString());
            }

            return value;
        }
    }

    public void OnIncomeActionBegin(ActionEventArgs<AHhincome> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
        {

        }
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
        {

        }
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Cancel)
        {

        }
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (string.IsNullOrEmpty(args.Data.HouseHoldIncomeDescription))
            {
                ToastObj.ShowAsync(new ToastModel { Title = "Warning!", Content = "Please enter the house hold income before saving this record.", CssClass = "e-toast-warning", Icon = "e-warning toast-icons" });
                args.Cancel = true;
            }

            else
            {
                using (var db = new MUCOBADIContext())
                {
                    var exists = db.AHhincome.FirstOrDefault(o => (o.HouseHoldIncomeDescription.ToLower() == args.Data.HouseHoldIncomeDescription.ToLower()));
                    if (exists != null && exists.HouseHoldIncomeId != args.Data.HouseHoldIncomeId)
                    {
                        ToastObj.ShowAsync(new ToastModel { Title = "Error!", Content = "This household income already exists in the database and will not be saved.", CssClass = "e-toast-danger", Icon = "e-error toast-icons" });
                        args.Cancel = true;
                    }
                }
            }
        }
    }

    public string GetIncomeHeader(AHhincome Value)
    {
        if (Value.HouseHoldIncomeId == 0)
        {
            ButtonText = "Insert";
            return "Add a new HouseHold Income";
        }
        else
        {
            ButtonText = "Save Changes";
            return "Edit Details for " + Value.HouseHoldIncomeDescription;
        }
    }

    #endregion HouseHold Income
}
